<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474603009652-rechbop9n2qn38bktutdj221fjpkd80g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474603009652-rechbop9n2qn38bktutdj221fjpkd80g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMj2M6bxDqTTjBoHEEWDO_5u2BdLuZeEE</string>
	<key>GCM_SENDER_ID</key>
	<string>474603009652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beeman.apptwo</string>
	<key>PROJECT_ID</key>
	<string>plus-71bea</string>
	<key>STORAGE_BUCKET</key>
	<string>plus-71bea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474603009652:ios:a5364e82f6bb5a8107c321</string>
</dict>
</plist>